h3 {
    text-align: center;
    color:red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    
}

.container-1 {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-2 {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-3 {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
h4 {
    color:aqua;
    margin-right: 250px; 
   
}

p {
    color: black;
    width: 340px;
    word-wrap: break-word;
    justify-content: space-around;
    margin-left: 5px; 
}


.pic {
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box-1 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
img {
    border-radius: 5px 5px 0 0;
    
}
 .box-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 
 
img:hover {
    cursor: zoom-in;
}

